// Fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,800;1,400;1,800&display=swap');

// Variables
@import 'variables';

// Loader
@import 'partials/loader';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons Bootstrap
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.index_background{
    background-color: #ebeff2;
}

.user_panel_messages{
    height: 150px;
    overflow: auto;
}

.ms_icon_create_apartment{
    width: 27px;
    height: 27px;
}

.header_img{
    width: 120px;
}

.input-control.success input {
    border: 5px solid #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error_message {
    color: #ff3860;
}

ul{
    list-style:none;
}

.show_image{
    max-height: 270px;
    object-fit: cover;
}

.index_image{
    max-height: 160px;
    object-fit: cover;
}

// ! EDIT ! \\

.dropdown-menu-images{
    overflow: auto;
    height: 300px;
    width: 300px;
}

.pad_edit_btn{
    padding: 5px 20px;
}

// ! EDIT ! \\


// ? MEDIAQUERY ? \\

// MOBILE \\
@media all and (min-width: 500px){
    // INDEX APARTMENT \\
    .sm_none{
        display: none;
    }

    .title_sm{
        text-align: center;
        margin: 15px 0;
    }
    // INDEX APARTMENT \\
}
// MOBILE \\

// TABLET \\
@media all and (min-width: 768px){
    // INDEX APARTMENT \\
    .sm_none{
        display: block;
    }

    .title_sm{
        text-align: left;
        margin: 0;
    }
    // INDEX APARTMENT \\
}
// TABLET \\

// Images in deletedApartments
.deleted_image{
    height: 200px;
}